@import "tailwindcss";

:root {
  --background: #0F1114;
  --foreground: #ededed;
  --font-pretendard: "Pretendard", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
}

/* 기본 배경 */
html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}

/* 전역 강제 통일(여기서 다 덮어씀) */
@layer base {

  input,
  textarea,
  select,
  button {
    font: inherit;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: inherit;
  }

  /* Firefox (픽셀 지정 불가: thin만 가능) */
  * {
    scrollbar-width: thin;
    scrollbar-color: #3f444e transparent;
  }

  /* Chrome / Edge / Safari */
  *::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }

  *::-webkit-scrollbar-track {
    background: transparent !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3f444e !important;
    border-radius: 9999px !important;
    border: 0 !important;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #5B69FF !important;
  }

  *::-webkit-scrollbar-button {
    display: none !important;
  }
}